<form id="hidden_form" action="/w/<%= story.id %>" method="POST">
  <input id="hidden_type" type="hidden" name="type">
  <input id="hidden_metadata" type="hidden" name="metadata">
</form>
<div class="story" id="story">
  <span style="font-style:italic;">please wait...</span>
</div>
<hr>
<script type="text/javascript">
function updateOnClock() {
  var xhr = new XMLHttpRequest();
  xhr.open("GET", "/w/<%= story.id %>/ajax_on_clock", true);
  
  xhr.onreadystatechange = function() {
    if(xhr.readyState == 4 && xhr.status == 200) {
      var jsonData = JSON.parse(xhr.responseText);
      document.getElementById("suggestion_buttons").innerHTML = jsonData['h'];
      timeoutLoadTime = new Date();
      timeoutSincePageLoad = jsonData['c'];
      
      if(jsonData['c'] == 29) refreshPageData();
    }
  };
  
  xhr.send();
}

function refreshPageData() {
  var xhr = new XMLHttpRequest();
  xhr.open("GET", "/w/<%= story.id %>/ajax_on_refresh", true);
  
  xhr.onreadystatechange = function() {
    if(xhr.readyState == 4 && xhr.status == 200) {
      var jsonData = JSON.parse(xhr.responseText);
      voted = jsonData['v'];
      
      if(voted) {
        document.getElementById("user_input_complete").style.display = "block";
        document.getElementById("user_input_voting").style.display = "none";
      } else {
        document.getElementById("user_input_complete").style.display = "none";
        document.getElementById("user_input_voting").style.display = "block";
      }
      
      if(jsonData['s']) window.location = "/a/<%= story.id %>";
      document.getElementById("story").innerHTML = jsonData['b'];
    }
  };
  
  xhr.send();
}

function postVote(type, metadata) {
  if(voted) return;
  voted = true;
  
  var xhr = new XMLHttpRequest();
  xhr.open("POST", "/w/<%= story.id %>", true);
  xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
  xhr.send("type=" + type + "&metadata=" + encodeURIComponent(metadata));
  
  document.getElementById("user_input_complete").style.display = "block";
  document.getElementById("user_input_voting").style.display = "none";
}

function postCustomWordForm() {
  postVote('word', document.getElementById('user_input_word').value);
  document.getElementById('user_input_word').value = "";
}

function updateCountdown() {
  var countdown = Math.round(timeoutSincePageLoad - (((new Date()) - timeoutLoadTime) / 1000));
  document.getElementById("countdown_timer").innerHTML = countdown;
  document.title = "<%= MMOWriter::NAME %> (" + countdown + ")";
}

timeoutLoadTime = new Date();
timeoutSincePageLoad = <%= (MMOWriter::VOTE_TIMEOUT - ((Time.now.to_i - story.date_created) % MMOWriter::VOTE_TIMEOUT)) %>;
voted = false;

setInterval(function() {updateOnClock();updateCountdown();}, 1000);
</script>
<div class="user_input">
  <h1 id="countdown_timer"><%= (MMOWriter::VOTE_TIMEOUT - ((Time.now.to_i - story.date_created) % MMOWriter::VOTE_TIMEOUT)) %></h1>
  <p class="user_input_hint">popular votes:</p>
  <div id="suggestion_buttons">
    loading suggestions...
  </div>
  <div id="user_input_voting">
    <p class="user_input_hint">or enter your own:</p>
    <table style="width: 100%">
      <tr>
        <td><b>vote for a word...</b></td>
        <td>
          <form onsubmit="postCustomWordForm();return false;">
            <input id="user_input_word" type="text" style="height: 30px; text-align: center; font-size: 16px;">
            <input type="submit" style="padding: 10px;" value="vote">
          </form>
        </td>
      </tr>
      <tr>
        <td><b>...or another option</b></td>
        <td>
          <button type="button" class="user_input_button_green" onclick="postVote('special_end_char', 'period')">period</button>
          <button type="button" class="user_input_button_green" onclick="postVote('special_end_char', 'comma')">comma</button>
          <button type="button" class="user_input_button_green" onclick="postVote('special_end_char', 'question')">question</button>
          <button type="button" class="user_input_button_green" onclick="postVote('special_end_char', 'exclamation')">exclamation</button>
          <button type="button" class="user_input_button_green" onclick="postVote('special_start_char', 'quotation open')">quotation open</button>
          <button type="button" class="user_input_button_green" onclick="postVote('special_end_char', 'quotation close')">quotation close</button>
          <button type="button" class="user_input_button_green" onclick="postVote('paragraph', '')">new paragraph</button>
          <button type="button" class="user_input_button_red" onclick="postVote('story_end', '')">story end</button>
        </td>
      </tr>
    </table>
  </div>
  <div id="user_input_complete" style="display: none;">
    <h2>thank you for voting</h2>
  </div>
</div>
<script type="text/javascript">refreshPageData(); updateOnClock(); updateCountdown();</script>